{
"extends": [
  "airbnb-base",
  "plugin:regexp/no-useless-escape"],

  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console": ["error", { "allow": ["log"] }]
  }
}